absl-py==0.7.1
aiofiles==0.4.0
anytree==2.6.0
astor==0.7.1
async-generator==1.10
atomicwrites==1.3.0
attrs==18.2.0
backcall==0.1.0
bleach==3.0.2
blinker==1.4
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
Click==7.0
CoDrone==1.2.2
colorama==0.4.0
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
entrypoints==0.2.3
gast==0.2.2
gprof2dot==2017.9.19
grpcio==1.19.0
h11==0.8.1
h2==3.1.0
h5py==2.9.0
hpack==3.0.0
Hypercorn==0.6.0
hyperframe==5.2.0
idna==2.7
ipykernel==5.1.0
ipython==7.1.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
jedi==0.13.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.0
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
livereload==2.5.2
lxml==4.2.5
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==3.0.1
mistune==0.8.4
mkdocs==1.0.4
mock==2.0.0
more-itertools==6.0.0
mpmath==1.0.0
multidict==4.5.2
mypy==0.701
mypy-extensions==0.4.1
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.7.0
numpy==1.15.3
outcome==1.0.0
pandocfilters==1.4.2
parso==0.3.1
pbr==5.1.3
pickleshare==0.7.5
Pillow==5.3.0
pipenv==2018.11.26
pluggy==0.9.0
prometheus-client==0.4.2
prompt-toolkit==2.0.7
protobuf==3.7.0
py==1.8.0
py-spy==0.1.10
pycparser==2.19
pygame==1.9.5
Pygments==2.2.0
pynput==1.4
pyparsing==2.3.0
pyserial==3.4
pytest==3.10.1
python-dateutil==2.7.5
pytoml==0.1.20
pywinpty==0.5.4
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.2
Quart==0.8.1
Quart-CORS==0.1.2
Quart-Trio==0.2.0
reportlab==3.5.9
requests==2.19.1
Send2Trash==1.5.0
six==1.11.0
sniffio==1.0.0
sortedcontainers==2.0.5
sympy==1.3
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
trio==0.9.0
trio-typing==0.2.0
typed-ast==1.3.1
typing-extensions==3.7.2
urllib3==1.23
virtualenv==16.4.3
virtualenv-clone==0.5.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.1
widgetsnbextension==3.4.2
wsproto==0.14.0
